#fullcalendar-app tr,
#fullcalendar-app .draggable-table.tabledrag-disabled tr {
  background: none !important;
}
#fullcalendar-app table {
  margin-top: 0 !important;
}
#fullcalendar-app th.fc-col-header-cell {
  padding-top: 8px;
  padding-bottom: 8px;
}

/* PDF BUTTON STYLES */
.download-pdf-button {
  background-color: unset;
  color: #000000;
  padding: 10px 10px;
  font-size: 14px;
  font-weight: normal;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-transform: none;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  margin: 0;
  box-shadow: none;
  transition: background-color 0.2s;
  gap: 10px;
}
.download-pdf-button:hover,
.download-pdf-button:focus {
  background-color: #000000;
  color: #ffffff;
  text-decoration: none;
}
.download-pdf-button i {
  font-size: 14px;
}

.fc-header-toolbar .fc-toolbar-chunk:nth-child(2) {
  margin-left: auto;
  margin-right: 30px;
}
.day-header {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  display: inline-block;
}

.day-header span {
  background-color: #000;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  padding: 1px 6px;
  border-radius: 10px;
  display: inline-block;
  margin-left: 8px;
  vertical-align: middle;
}
.fc-timegrid-event .fc-event-main {
  line-height: 1.2;
}
